body{
    background-color:cornflowerblue
}

main{
    max-width: width 960px;
    margin-right: auto;
    margin-left:auto;
    height: 500px;
    background-color:aliceblue;

    #cont1 {
        background-color: white;

    }

    #cont2 {
        background-color: silver;

    }

    #cont3 {
        background-color: gold;

    }

    <body>

    <main class="grid-container">

      <section class="grid-33" id="cont1">
         <h2>Section 1</h2>
         <p>Lorem ipsum...</p>

      <section class="grid-33" id="cont2">
         <h2>Section 2</h2>
         <p>Lorem ipsum...</p>

      <section class="grid-33" id="cont3">
         <h2>Section 3</h2>
         <p>Lorem ipsum...</p>
      </section>

    </main>

    </body>

    <section class="grid-25" id="cont1">
          <h2>Section 1</h2>
          <p>...</p>
    </section>

      <div id='subsection' class="grid-50"
    grid-parent">
      <section
    


     

        
